#title-cs {
    width: 40%;
    text-align: end;
    padding-right: 2%;
    margin-left: 8%;
}
#title-shop {
    width: 40%;
    text-align: start;
    padding-left: 2%;
    margin-right: 2%;
}
#div-nav {
    width: 40%;
    padding: 1%;
    margin-top: 2%;
    margin-left: 29%;
}
#div-line {
    width: 50%;
    margin-left: 25%;
}
#div-main {
    width: 95%;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 0.5%;
}
#img-front-page {
    width: 40%;
}
#div-footer {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.row {
    display: flex;
    justify-items: center;
    flex-flow: row;
}
body {
    display: flex;
    justify-items: center;
    flex-flow: column;
    text-align: center;
}
h1 {
    margin-bottom: -1%;
}