#title-cs {
    font-size: 120%;
    font-family: 'Modern No. 20', 'Times New Roman', 'Arial';
    background-color: rgba(40, 40, 40, 0.800);
    color: rgba(222, 222, 222, 0.800);
    border-right-style: solid;
    border-image: linear-gradient(to bottom, rgb(40, 40, 40), rgb(222, 222, 222)) 1;
}
#title-shop {
    font-size: 120%;
    font-family: 'Modern No. 20', 'Times New Roman', 'Arial';
    background-color: rgba(200, 200, 200, 0.800);
    color: rgba(40, 40, 40, 0.800);
    border-left-style: solid;
    border-image: linear-gradient(to bottom, rgb(40, 40, 40), rgba(222, 222, 222, 0.800)) 1;
}
#div-nav {
    background-color: rgba(255, 255, 255, 0);
}
#div-main {
    background-color: rgb(255, 255, 255);
}
.nav-button {
    font-size: large;
    font-family: 'Modern No. 20', 'Times New Roman', 'Arial';
    background-color: rgba(255, 255, 255, 0);
    color: rgb(48, 48, 48);
    border-style: none;
}
body {
    background-color: rgb(242, 242, 242);
}
h1 {
    color: rgb(50, 50, 50);
}
h6 {
    font-family: 'Times New Roman', 'Modern No. 20', 'Arial';
}