#title-cs {
    font-size: 140%;
    font-family: 'Modern No. 20', 'Times New Roman', 'Arial';
    background: linear-gradient(to left, #bb815d, #e8d5c9);
    color: #d2ab93;
    border-right-style: solid;
    border-image: linear-gradient(to bottom, #bb815d, #d2ab93) 1;
}
#title-shop {
    font-size: 140%;
    font-family: 'Modern No. 20', 'Times New Roman', 'Arial';
    background: linear-gradient(to right, #d2ab93, #e8d5c9);
    color: #bb815d;
    border-left-style: solid;
    border-image: linear-gradient(to bottom, #bb815d, #d2ab93) 1;
}
#div-line {
    border-bottom: 2px solid #e1c7b7;
}
#div-main {
    background-color: #f7f1ed;
}
#div-footer {
    background-color: #d9b9a5;
}
.nav-buttons {
    font-size: 120%;
    font-family: 'Modern No. 20', 'Times New Roman', 'Arial';
    background-color: #e7d2c5;
    color: #6c452d;
    border-style: none;
}
.div-img {
    background-color: #f0e3db;
    border-top: 5px solid #f0e3db;
}
.btn-slide {
    font-size: 120%;
    font-family: 'Modern No. 20', 'Times New Roman', 'Arial';
    background-color: #f0e3db;
    color: #f0e3db;
    border-style: none;
}
body {
    background-color: #e7d2c5;
}
h1 {
    color: #6c452d;
}
h2 {
    font-size: 60%;
    font-family: 'Times New Roman', 'Modern No. 20', 'Arial';
}
h3 {
    color: #24170f
}
p {
    color: #362317;
}
a {
    color: #24170f;
}